[submodule "ext/eigen"]
	path = ext/eigen
	url = https://github.com/RLovelett/eigen
[submodule "ext/tinyformat"]
	path = ext/tinyformat
	url= https://github.com/nicoprevitali/tinyformat
[submodule "ext/filesystem"]
	path = ext/filesystem
	url = https://github.com/wjakob/filesystem
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
[submodule "ext/ovr"]
	path = ext/ovr
	url=https://github.com/nicoprevitali/OculusSDK
